<div class="d-flex align-items-center">
    <h2>Sensor1: Pressão</h2>
</div>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody *ngFor="let pressure of pressures">
            <tr>
                <td>{{ pressure.timestamp }}</td>
                <td>{{ pressure.readingValue }}</td>
            </tr>
        </tbody>
    </table>
</div>